
.logo{
     background-color:
     #000000;
}

.verde{
    color:  #0c5908   
} 
.rojo{
    color:#e30e0e;
}

div h1{
    color : #ffffff;
} 

.nav-links{
    color: #ffffff;
}

main div h2{
    color:#ffffff;
}