*{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: #E5E5E5;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}


main h1{
    color: #005677 ;
    background-color: #C4C4C4 ;
    font-weight:600 ;
    font-size:35 px;
    letter-spacing: 7px ;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}

main h2{
    background-color:#C4C4C4;
    color: #005677;
    text-transform: uppercase;
    font-weight:700 ;
    font-size:20px;
    letter-spacing: 3px ;
    display: flex;
    flex-direction: column;

}